<?xml version="1.0" encoding="UTF-8"?>
<!--
#============================================================================#
#  W I X   M S I   P A C K A G E   S O U R C E   S P E C I F I C A T I O N   #
#============================================================================#
#                                                                            #
# NAME                                                                       #
# BBWin.wxs   WiX source code for producing BBWin.msi                        #
#                                                                            #
# REVISION HISTORY                                                           #
#      08/2006   Etienne Grignon  (etienne.grignon@gmail.com), original      # 
#   11/26/2010  T.J. Yang tjyang2001@gmail.com  Version 0.9 Original.        #
#               1. Make bbwin.wxs more readable.                             #
#               2. update to WIX 3.0 syntax and features.                    #
#                                                                            #
#     MM/DD/YEAR    Your Name Here.                                          #
#                                                                            #
#                                                                            #
# USAGE                                                                      #
#  1.Manually use WiX 3.6.                                                   #
#    candle.exe  bbwin.wxs                                                   #
#    light.exe   bbwin.wixobj                                                #
#  2.Use  nmake to call up WiX 3.6                                           #
#    nmake  Makefile                                                         #
#                                                                            #
# DESCRIPTION                                                                #
# 1. This is WiX 3.x package source used to create MSI package for bbwin.    #
# 2. GUIDs are generated using VS2010 Create GUID tool.                      #
# 2. It will create following directory structures                           #
#     BBWin/bin                                                              #
#     BBWin/docs                                                             #
#     BBWin/data/db                                                          #
#     BBWin/logs                                                             #
#                                                                            #
# TODOs                                                                      #
#  1. Integration with WiX Votive for VS 2010 non-express version.           #
#                                                                            #
# LICENSE                                                                    #
# GNU                                                                        #
# This program is released under the GNU General Public License (GPL),       #
# version 2. See the file "COPYING" for details.                             #
#                                                                            #
# WARRANTY                                                                   #
# This program is distributed in the hope that it will be useful,            #
# but without any warranty; without even the implied warranty of             #
# merchantability or fitness for a particular purpose.                       #
#                                                                            #
# COPYRIGHT                                                                  #
#     08/2006   Etienne Grignon  (etienne.grignon@gmail.com)                 #
#                                                                            #
# REFERENCES                                                                 # 
#  1. http://www.tramontana.co.hu/wix/, where I learn WiX from.              #
#                                                                            #
#                                                                            #
#============================================================================#
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:sql="http://schemas.microsoft.com/wix/SqlExtension">
    <Product Name="BBWin 0.12" Id="9E24125E-8C40-45E4-84F9-A1B601404AAF" UpgradeCode="E6444500-EAAA-43e5-A7CA-B24B0E4749BE" Language="1033" Codepage="1252" Version="0.12" Manufacturer="GNU">
        <Package Id="*" Keywords="Installer" Description="BBWin 0.12 Installer" Comments="BBWin : Big Brother Xymon Windows Client" Manufacturer="GNU" InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252" />
        <Upgrade Id="E6444500-EAAA-43e5-A7CA-B24B0E4749BE">
<!-- to be decided.
        <UpgradeVersion OnlyDetect='no' Property='UPGRADE'
           IncludeMinimum='yes' Minimum='0.1' 
           IgnoreRemoveFailure='yes' 
           MigrateFeatures="yes"/>
    -->
        </Upgrade>
        <Media Id="1" Cabinet="BBWin.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="INSTALLDIR" Name="BBWin">
                    <Directory Id="binD" Name="bin">
                        <Component Id="BBWinServiceC" Guid="309BF033-B4EE-48fd-BECA-D4C1E9DA002E">
                            <File Id="BBWinF" Source="../Release/BBWin.exe" />
                            <!-- Block for the installation of the service -->
                            <ServiceInstall Id="bbwinService" Description="Big Brother Xymon Windows Client" DisplayName="Big Brother Xymon Client" Name="BBWin" Start="auto" Type="ownProcess" ErrorControl="ignore" Vital="yes" />
                            <ServiceControl Id="bbwinControl" Name="BBWin" Remove="uninstall" Stop="both" Wait="yes" />
                            <!-- Need to be here to under component tag to trigger 
                                 directories creation.
                                -->
                            <CreateFolder Directory="tmpD" />
                            <CreateFolder Directory="extD" />
                            <CreateFolder Directory="logsD" />
                            <!-- WHAT: Environment variables :PATH -->
                            <Environment Id="UpdatePath" Name="PATH" Action="set" Permanent="no" System="yes" Part="last" Value="[INSTALLDIR]bin" />
                        </Component>
<!-- TBC
                        <Component Id='BBWinCFGSettings' Guid='9506B0CC-E1F7-4692-BC29-11B7DCB63728'>
                            <File Id='XmlSettings' Name='bbwin.cfg' DiskId='1' Source='./etc/bbwin.cfg' Vital='yes' />
                            <util:XmlFile Id='XmlSettings1' File='[INSTALLDIR]etc\BBWin.cfg'
                                Action='setValue' Value="%COMPUTERNAME%"  ElementPath='//configuration/bbwin/setting\[@name="hostname"\]' Sequence='1' />
                        </Component>
    -->
                        <!-- BBWinCmd.exe -->
                        <Component Id="BBWinCmdC" Guid="EAD17309-E32B-4e40-BFD9-E57AB379B3A7">
                            <File Id="bbwincmdF" Source="../Release/BBWinCmd.exe" />
                        </Component>
                        <!-- Registry settings -->
                        <Component Id="BBWinRegistryC" Guid="DB4FACF9-43E5-4272-B90A-A1B9DD16B05D" Permanent="yes" NeverOverwrite="yes">
                            <RegistryKey Id="binPathReg" Root="HKLM" Key="SOFTWARE\BBWin" Action="createAndRemoveOnUninstall">
                                <RegistryValue Name="binpath" Type="string" Value="[INSTALLDIR]bin" />
                            </RegistryKey>
                            <RegistryKey Id="etcPathReg" Root="HKLM" Key="SOFTWARE\BBWin" Action="createAndRemoveOnUninstall">
                                <RegistryValue Name="etcpath" Type="string" Value="[INSTALLDIR]etc" />
                            </RegistryKey>
                            <RegistryKey Id="tmpPathReg" Root="HKLM" Key="SOFTWARE\BBWin" Action="createAndRemoveOnUninstall">
                                <RegistryValue Name="tmppath" Type="string" Value="[INSTALLDIR]tmp" />
                            </RegistryKey>
                        </Component>
                        <Component Id="BBWinHostNameRegistryC" Guid="3AFB8C49-C2F6-44fc-BFE0-AC4B8FF39F4C" Permanent="yes" NeverOverwrite="yes">
                            <RegistryKey Id="hostnameReg" Root="HKLM" Key="SOFTWARE\BBWin" Action="createAndRemoveOnUninstall">
                                <RegistryValue Name="hostname" Type="string" Value="%COMPUTERNAME%" />
                            </RegistryKey>
                        </Component>
                        <Component Id="BBWinEventLogRegistryC" Guid="70F60756-8EAC-4502-8A96-50C94876031A">
                            <RegistryKey Id="CategoryCountReg" Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\Eventlog\Application\BigBrotherXymonClient" Action="createAndRemoveOnUninstall">
                                <RegistryValue Name="CategoryCount" Type="integer" Value="2" />
                            </RegistryKey>
                            <RegistryKey Id="CategoryMessageFileReg" Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\Eventlog\Application\BigBrotherXymonClient" Action="createAndRemoveOnUninstall">
                                <RegistryValue Name="CategoryMessageFile" Type="string" Value="[binD]BBWin.exe" />
                            </RegistryKey>
                            <RegistryKey Id="EventMessageFileReg" Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\Eventlog\Application\BigBrotherXymonClient" Action="createAndRemoveOnUninstall">
                                <RegistryValue Name="EventMessageFile" Type="string" Value="[binD]BBWin.exe" />
                            </RegistryKey>
                            <RegistryKey Id="TypesSupportedReg" Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\Eventlog\Application\BigBrotherXymonClient" Action="createAndRemoveOnUninstall">
                                <RegistryValue Name="TypesSupported" Type="integer" Value="2" />
                            </RegistryKey>
                        </Component>
                        <!-- Agents Sections -->
                        <Component Id="BBWinUpdateDllC" Guid="0BC7C94B-63AB-47c6-8F16-D3180984BACD">
                            <File Source="../Release/bbwinupdate.dll" />
                        </Component>

                        <Component Id="CpuC" Guid="1E68A93A-7A2D-407e-AAFD-CB7486DF40C3">
                            <File Source="../Release/cpu.dll" />
                        </Component>

                        <Component Id="DiskC" Guid="9D02AF30-5600-49b7-B1A5-E98549AD28C1">
                            <File Source="../Release/disk.dll" />
                        </Component>

                        <Component Id="ExternalsC" Guid="83BA5796-DC8B-42a1-A6E5-797E75AC936A">
                            <File Source="../Release/externals.dll" />
                        </Component>

                        <Component Id="FileSystemC" Guid="70BF1C78-E5E9-47c4-A8FE-A33161AE4A1C">
                            <File Source="../Release/filesystem.dll" />
                        </Component>

                        <Component Id="MemoryC" Guid="68FA599B-2FC7-42b2-A30E-242EE9FC71C9">
                            <File Source="../Release/memory.dll" />
                        </Component>

                        <Component Id="MsgsC" Guid="F2632EF3-18F9-405c-B76D-543EFA180A30">
                            <File Source="../Release/msgs.dll" />
                        </Component>

                        <Component Id="ProcsC" Guid="051FD1F6-DC24-4c3e-8DD6-82DD7DBE92A2">
                            <File Source="../Release/procs.dll" />
                        </Component>

                        <Component Id="StatsC" Guid="A459F420-1E1D-45c3-8579-9E5FA1FFEA47">
                            <File Source="../Release/stats.dll" />
                        </Component>

                        <Component Id="SvcsC" Guid="4C5F9D0E-1886-4aef-8C4A-D2A876481881">
                            <File Source="../Release/svcs.dll" />
                        </Component>

                        <Component Id="UptimeC" Guid="FDB34367-3A35-4F22-97A1-557C4B756E7C">
                            <File Source="../Release/uptime.dll" />
                        </Component>

                        <Component Id="WhoC" Guid="527166B4-B06A-40e2-B79F-4AC0F50B7DCB">
                            <File Source="../Release/who.dll" />
                        </Component>

                        <Component Id="Msvcr100C" Guid="acd136b0-7e3a-11e0-a411-0800200c9a66">
                            <File Source="./dll/msvcr100.dll" />
                        </Component>

                        <Component Id="Msvcp100C" Guid="fa2eed90-7e39-11e0-a411-0800200c9a66">
                            <File Source="./dll/msvcp100.dll" />
                        </Component>
                    </Directory>
                    <!-- End of <Directory Id='binD' Name="bin"> -->
                    <Directory Id="extD" Name="ext">
                        <Component Id="ClusterC" Guid="1FE84C9C-B682-457a-83AD-CF28B4C51D00">
                            <File Source="../Release/cluster.exe" />
                        </Component>

                        <Component Id="FsmonC" Guid="F6088C2A-0E71-4a67-A30D-12C39D9F3432">
                            <File Source="../externals/vbs/fsmon/fsmon.vbs" />
                        </Component>

                        <Component Id="WlbsC" Guid="C90A6F0B-7E5E-43b9-BAA0-33B91A04E04A">
                            <File Source="../externals/vbs/wlbs/wlbs.vbs" />
                        </Component>
                    </Directory>
                    <Directory Id="tmpD" Name="tmp" />
                    <Directory Id="logsD" Name="logs" />
                    <Directory Id="docD" Name="doc">
                        <Component Id="CommonReadMeTextFilesC" Guid="B7889E96-1BB2-46f2-83FE-52EC721915CA">
                            <File Source="../ReadMe.txt" />
                            <File Name="BBWin_local.cfg.example" Source="../Core/bbwin.cfg" />
                            <File Name="BBWin_central.cfg.example" Source="../Core/bbwin_central.cfg" />
                        </Component>
                        <Component Id="BBWinChmC" Guid="7D383A7B-8891-4077-A95A-D45C725E98D7">
                            <File Id="BBWin_en.chm" Name="BBWin_en.chm" Source="../Doc/en/BBWin.chm" />
                        </Component>
                    </Directory>
                    <Directory Id="etcD" Name="etc">
                        <Component Id="BBWinConfigC" Guid="EDC3AAA4-9000-4938-9BAC-5B7BCFFC34E2" Permanent="yes" NeverOverwrite="yes">
                            <File Source="../Core/BBWin.cfg" />
                        </Component>

                        <Component Id="WlbsConfigC" Guid="5EA1128F-3EBB-4faa-9E66-0DCD988968B2" Permanent="yes" NeverOverwrite="yes">
                            <File Source="../externals/vbs/wlbs/wlbs.cfg" />
                        </Component>
                        <Component Id="FsmonConfigC" Guid="39CFAA7D-15E7-4679-8DA5-71E55723FD9C" Permanent="yes" NeverOverwrite="yes">
                            <File Source="../externals/vbs/fsmon/fsmon.cfg" />
                        </Component>
                    </Directory>
                    <!-- SDK Part like Big Software :) -->
                    <Directory Id="SdkD" Name="sdk">
                        <Component Id="Sample_Central_LocalC" Guid="AF366A7D-BFC1-490D-98EE-10FC8EE92DFC">
                            <File Source="./sdk/Makefile" />
                            <File Source="./sdk/sample_central.Rc" />
                            <File Source="./sdk/sample_local.Rc" />
                            <File Source="./sdk/sample.h" />
                            <File Source="./sdk/sample_central.cpp" />
                            <File Source="./sdk/sample_local.cpp" />
                            <File Source="../Core/version.h" />
                        </Component>
                        <Component Id="IncludeSdkC" Guid="ABB6619E-4297-4724-AC06-C35F44963FD4">
                            <File Source="./sdk/IBBWinAgentManager.h" />
                            <File Source="./sdk/IBBWinAgent.h" />
                            <File Source="./sdk/IBBWinException.h" />
                        </Component>
                        <Directory Id="SdkCompiledD" Name="Compiled">
                            <Component Id="SampleCompiledC" Guid="65116387-4564-400b-810F-61C5A62CAB08">
                                <File Source="./sdk/Release/sample_central.dll" />
                                <File Source="./sdk/Release/sample_local.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="toolsD" Name="tools">
                        <Component Id="MigrateBBntC" Guid="085CF654-C714-425e-BFEC-FF4463EDA3AB">
                            <File Source="../Tools/Migrate/MigrateBBntToBBWin.vbs" />
                        </Component>
                    </Directory>
                    <Component Id="CommonTextFilesC" Guid="361CEF4A-BC5C-40df-82DD-5C17434C927C">
                        <File Name="Licence.txt" Source="../license.txt" />
                        <File Source="../Credits.txt" />
                        <File Source="../ChangeLog.txt" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="Complete" Title="BBWin" Description="The complete BBWin package." TypicalDefault="install" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
            <Feature Id="BBWin" Title="BBWin" Description="The BBWin core service." TypicalDefault="install" Level="1" Absent="disallow" AllowAdvertise="no" ConfigurableDirectory="INSTALLDIR">
                <ComponentRef Id="BBWinServiceC" />
                <ComponentRef Id="BBWinRegistryC" />
                <ComponentRef Id="BBWinEventLogRegistryC" />
                <ComponentRef Id="BBWinHostNameRegistryC" />
                <ComponentRef Id="BBWinConfigC" />
                <ComponentRef Id="CommonTextFilesC" />
                <ComponentRef Id="CommonReadMeTextFilesC" />
                <ComponentRef Id="BBWinChmC" />
                <!--
                <ComponentRef Id="BBWinCFGSettings" />
                    -->
            </Feature>
            <Feature Id="BBWinCmd" Title="BBWinCmd" Description="The BBWin command line utility." TypicalDefault="install" Level="1" ConfigurableDirectory="INSTALLDIR">
                <ComponentRef Id="BBWinCmdC" />
            </Feature>
            <Feature Id="Agents" Title="Agents" Description="BBWin Agents." TypicalDefault="install" Level="1" ConfigurableDirectory="INSTALLDIR">
                <Feature Id="BBWinUpdateDll" Title="BBWinUpdate" Description="Update BBWin configuration from a Xymon server." TypicalDefault="install" Level="1">
                    <ComponentRef Id="BBWinUpdateDllC" />
                </Feature>
                <Feature Id="Cpu" Title="Cpu" Description="Monitor cpu." TypicalDefault="install" Level="1">
                    <ComponentRef Id="CpuC" />
                </Feature>
                <Feature Id="Disk" Title="Disk" Description="Monitor disks." TypicalDefault="install" Level="1">
                    <ComponentRef Id="DiskC" />
                </Feature>
                <Feature Id="ExternalsAgent" Title="Externals" Description="Used to launch externals Big Brother scripts or executables." TypicalDefault="install" Level="1">
                    <ComponentRef Id="ExternalsC" />
                </Feature>
                <Feature Id="FileSystem" Title="FileSystem" Description="Monitor files, directories, logfiles." TypicalDefault="install" Level="1">
                    <ComponentRef Id="FileSystemC" />
                </Feature>
                <Feature Id="Msgs" Title="Msgs" Description="Monitor the Windows Event Log." TypicalDefault="install" Level="1">
                    <ComponentRef Id="MsgsC" />
                </Feature>
                <Feature Id="Memory" Title="Memory" Description="Monitor memory." TypicalDefault="install" Level="1">
                    <ComponentRef Id="MemoryC" />
                </Feature>
                <Feature Id="Procs" Title="Procs" Description="Monitor running processes." TypicalDefault="install" Level="1">
                    <ComponentRef Id="ProcsC" />
                </Feature>
                <Feature Id="Stats" Title="Stats" Description="Send some statistics (netstat for example)&#xD;&#xA;                                            to Xymon server for trends purpose." TypicalDefault="install" Level="1">
                    <ComponentRef Id="StatsC" />
                </Feature>
                <Feature Id="Svcs" Title="Svcs" Description="Monitor Windows services." TypicalDefault="install" Level="1">
                    <ComponentRef Id="SvcsC" />
                </Feature>
                <Feature Id="Uptime" Title="Uptime" Description="Monitor the uptime. &#xD;&#xA;                                It will warn if a reboot has been done recently." TypicalDefault="install" Level="1">
                    <ComponentRef Id="UptimeC" />
                </Feature>
                <Feature Id="Who" Title="Who" Description="List current users connected to the server." TypicalDefault="install" Level="1">
                    <ComponentRef Id="WhoC" />
                </Feature>

                <Feature Id="Msvcr100" Title="MSVCR100.DLL" Description="MicroSoft Visual Studion 2010 Rutime." TypicalDefault="install" Level="1">
                    <ComponentRef Id="Msvcr100C" />
                </Feature>
                <Feature Id="Msvcp100" Title="MSVCP100.DLL" Description="MicroSoft Visual Studion 2010 Rutime." TypicalDefault="install" Level="1">
                    <ComponentRef Id="Msvcp100C" />
                </Feature>
            </Feature>
            <Feature Id="Externals" Title="Externals" Description="BBWin Externals." TypicalDefault="install" Level="1" ConfigurableDirectory="INSTALLDIR">

                <Feature Id="Cluster" Title="Cluster" Description="Monitor MSCS Windows clusters. It will warn if the current node changed." TypicalDefault="advertise" Level="1">
                    <ComponentRef Id="ClusterC" />
                </Feature>

                <Feature Id="Fsmon" Title="Fsmon" Description="Monitor folders and Windows files." TypicalDefault="advertise" Level="1">
                    <ComponentRef Id="FsmonC" />
                    <ComponentRef Id="FsmonConfigC" />
                </Feature>
                <Feature Id="Wlbs" Title="Wlbs" Description="Monitor WLBS (NLB) Windows clusters. &#xD;&#xA;	                                    It will warn if the node status is not correct." TypicalDefault="advertise" Level="1">
                    <ComponentRef Id="WlbsC" />
                    <ComponentRef Id="WlbsConfigC" />
                </Feature>
                <!-- Disabled
                    -->
            </Feature>
            <Feature Id="Tools" Title="Tools" Description="Extra BBWin tools" TypicalDefault="install" Level="1">
                <Feature Id="Migration" Title="Migration" Description="Migration tools. Automatic migration from other BB Windows Clients (BBnt)." TypicalDefault="install" Level="1">
                    <ComponentRef Id="MigrateBBntC" />
                </Feature>
            </Feature>
            <Feature Id="SDK" Title="Agents SDK" Description="BBWin Agents development toolkit." TypicalDefault="advertise" Level="1">
                <ComponentRef Id="Sample_Central_LocalC" />
                <ComponentRef Id="SampleCompiledC" />
                <ComponentRef Id="IncludeSdkC" />
            </Feature>
        </Feature>
        <!-- WHAT: To use mondo standar User Interface -->
        <UIRef Id="WixUI_Mondo" />
        <UIRef Id="WixUI_ErrorProgressText" />	
        <!--
        <CustomAction Id="CheckingPID" BinaryKey="CheckPID" DllEntry="CheckPID" />
        <CustomAction Id="RefusePID" Error="Bad PID" />
            -->

        <!-- WHAT: Allow us to customizie Banner and Dialog iconsl -->
        <Binary Id="Up" SourceFile="./Binary/Up.ico" />
        <Binary Id="New" SourceFile="./Binary/New.ico" />
        <Binary Id="custicon" SourceFile="./Binary/Custom.ico" />
        <Binary Id="repairic" SourceFile="./Binary/Repair.ico" />
        <Binary Id="exclamic" SourceFile="./Binary/Exclam.ico" />
        <Binary Id="removico" SourceFile="./Binary/Remove.ico" />
        <Binary Id="completi" SourceFile="./Binary/Complete.ico" />
        <Binary Id="insticon" SourceFile="./Binary/Typical.ico" />
        <Binary Id="info" SourceFile="./Binary/Info.ico" />
        <Binary Id="bannrbmp" SourceFile="./Binary/Banner.bmp" />
        <Binary Id="dlgbmp" SourceFile="./Binary/Dialog.bmp" />
    </Product>
</Wix>
